.jumbotron
  .container
    %h1 Welcome to Snails!
    %p=@user.email

.container
  .col-md-6
    %table.table
      %tbody
        %tr
          %td
            %strong Deposits:
          %td= @total_deposits
        %tr
          %td
            %strong Orders:
          %td= @order_total
        %tr
          %td
            %strong Running Balance:
          %td= @running_total
